body {
	font-family:'Lucida Grande';
	color: white;
}

.navbar-default {
    background-color: #000000;
    border-color: #E7E7E7;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
}

h2, p {
	text-align: center;
	color: white;
}

#about{
	background: url('img/ocean-owen-walters.jpg');
	padding-top: 70px;
	height: 100%;
}

#projects{
	background-image: url('img/river-daniel-beilinson.jpg');
	height: 100%;
}

#resume{
	background-image: url('img/naranjas-brian-jimenez.jpg');
	height: 100%;
}

#contact{
	background-image: url('trees-kim-daniel.jpg');
	height: 100%;
}