.link, .link:hover, .link:focus {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
html {
  height: 100%;
}
body {
  background: url(car.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 0.5s ease-in-out;
  -moz-transition: background-image 0.5s ease-in-out;
  -o-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  width: 100%;
  text-align: center;
}
h2 {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 100;
}
.intro {
  font-weight: 100;
  width: 100%;
  float:left;
  clear: left;
  height: 100px;
  /*background: linear-gradient(to top, rgba(0,0,0,0), rgba(255,255,255,0.6));*/
  border-bottom-color: rgba(255,255,255,.6);
  border-bottom-width: 1px;
  /*-webkit-box-shadow: 0 4px 8px -2px #111;
   -moz-box-shadow: 0 4px 8px -2px #111;
   box-shadow: 0 4px 8px -2px #111;*/
}
#title-enlighten {
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;  
}
.container {
  display: block;
  border-radius: 25px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  clear: left;
}
#presentation-enlighten {
  background-color: #999;
  min-height: 100px;
  max-height: 50%;
  padding-bottom: 0px;
  opacity: 0;
}
.conn4-circle {
  border-radius: 50%;
  display: inline-block;
  margin: 1%;
}
#navi-enlighten {
  background-opacity: 0;
  min-height: 0px;
  max-height: 600px;
}
#navi-enlighten h2 {
  clear:left;
}